/** @format */

.fp-watermark {
  display: none !important; 
}

.section {
  &__container {
    padding-left: 16px;
    padding-right: 16px;

    @media (min-width: 640px) {
      padding-left: 24px;
      padding-right: 24px;
    }

    @media (min-width: 768px) {
      padding-left: 48px;
      padding-right: 48px;
    }

    @media (min-width: 1024px) {
      padding-left: 104px;
      padding-right: 104px;
    }
  }
}


//
.clr-primary {
  color: #061d1b !important;
}

.bg-primary {
  background: #061D1B !important;

  &:hover {
    background: #283C3A !important;
  }
}

//

// .swiper-vertical > .swiper-button-next,
// .swiper-vertical > .swiper-button-prev {
//   left: auto;
//   right: 10px;
// }

// .swiper-vertical > .swiper-button-prev {
//   top: 10px;
// }

// .swiper-vertical > .swiper-button-next {
//   bottom: 10px;
//   top: auto;
// }

// .swiper-button-next,
// .swiper-button-prev {
//   color: #000;
//   background: rgba(255, 255, 255, 0.8);
//   width: 40px;
//   height: 40px;
//   border-radius: 50%;
// }

// .swiper-button-next::after,
// .swiper-button-prev::after {
//   font-size: 20px;
//   font-weight: bold;
// }

/* Thêm vào globals.css */
// .swiper-vertical .swiper-slide {
//   height: 33.33333% !important;
//   display: flex !important;
//   align-items: center;
//   justify-content: center;
// }

// .swiper-vertical  .swiper-slide.swiper-slide-active {
//   height: 50% !important;
// }

.swiper-zoom-container {
  height: 100%;
}